{% extends "index.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block header %}
    <!-- Page Header -->
    {% if page.header_cover %}
        <header class="intro-header" style="background-image: url('{{ page.header_cover }}')">
    {% elif HEADER_COVER %}
        <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
    {% elif HEADER_COLOR %}
        <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
    {% else %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/home-bg.jpg')">
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ page.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <article>
        {{ page.content }}
    </article>

    {% if page.photo_gallery %}
      {% for title, gallery in page.photo_gallery %}
        <h1>{{ title }}</h1>
        <div id="carousel-{{ loop.index }}" class="carousel slide">
          <ol class="carousel-indicators">
              {% for i in range(0, gallery|length) %}
              <li data-target="#carousel-{{ loop.index }}" data-slide-to="{{ i }}" {% if i==0 %} class="active" {% endif %}></li>
              {% endfor %}
          </ol>
          <div class="carousel-inner" role="listbox">
            {% for name, photo, thumb, exif, caption in gallery %}
              {% if loop.first %}
                <div class="item active">
              {% else %}
                <div class="item">
              {% endif %}
              <img src="{{ SITEURL }}/{{ photo }}" exif="{{ exif }}" alt="{{ caption }}">
              <div class="carousel-caption">
                  <h5>{{ caption }}</h5>
              </div> <!-- carousel-caption -->
            </div> <!-- item -->
            {% endfor %}
          </div> <!-- carousel-inner -->
          <a class="left carousel-control" href="#carousel-{{ loop.index }}" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-{{ loop.index }}" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div> <!-- closes carousel-{{ loop.index }} -->
        {% endfor %}
    {% endif %}
{% endblock content %}
